@model List<FieldViewModel>
<div class="field-form-list-vc">
    <div id="field-form-list-@ViewBag.QuestionId" data-question-id="@ViewBag.QuestionId">
        @foreach (FieldViewModel fieldViewModel in Model)
        {
            <vc:field-form field-view-model="fieldViewModel" />
        }
    </div>
    <p class="create-field-button" data-target-list="field-form-list-@ViewBag.QuestionId">Ajouter une réponse</p>
</div>
