@model List<FieldViewModel>

<div class="field-form-list-vc">
    <div id="field-form-list-list">
        @foreach (FieldViewModel fieldViewModel in Model)
        {
            <vc:field-form field-view-model="fieldViewModel" />
        }
    </div>
    <p id="create-field">Ajouter une réponse</p>
</div>

<script>
    $(function () {
        $("#create-field").on("click", (e) => {
            $.post("/Field/Create", (data) => {
                $("#field-form-list-list").append(data)
            });
        });
    });
</script>
