@model List<FieldViewModel>
<div class="field-form-list-vc" id="field-form-list-vc-@ViewBag.QuestionId">
    <div id="field-form-list-@ViewBag.QuestionId">
        @foreach (FieldViewModel fieldViewModel in Model)
        {
            <vc:field-form field-view-model="fieldViewModel" input-type-view-model="ViewBag.InputTypeViewModel" />
        }
    </div>
    <vc:field-add-button question-id="@ViewBag.QuestionId" />
</div>
