@model List<FieldViewModel>
<div class="field-form-list-vc">
    <div id="field-form-list-@ViewBag.QuestionId" data-question-id="@ViewBag.QuestionId">
        @foreach (FieldViewModel fieldViewModel in Model)
        {
            <vc:field-form field-view-model="fieldViewModel" input-type-view-model="ViewBag.InputTypeViewModel" />
        }
    </div>
    <p class="create-field-button" data-target-list="field-form-list-@ViewBag.QuestionId">
        <i class="fa-solid fa-plus"></i>
        Ajouter une réponse
    </p>
</div>
