<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuikForm.WebApp</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/pico/pico.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuikForm.WebApp.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header class="container">
        <nav>
            <a class="quikform" asp-area="" asp-controller="Home" asp-action="Index">QuikForm</a>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                </li>
                <li role="list" dir="rtl">
                    <a href="#" aria-haspopup="listbox">Tests</a>
                    <ul role="listbox">
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Sarah" asp-action="Index">Sarah</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Elsa" asp-action="Index">Elsa</a></li>
                    </ul>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
