@model List<QuestionViewModel>

<div class="question-list-vc">
    <div id="question-form-list">
        @foreach (QuestionViewModel questionForm in Model)
        {
            <vc:question-form question-view-model="@questionForm" />
        }
    </div>
    <div class="button" id="create-question">Ajouter</div>
</div>

<script>
    $(function () {
        $("#create-question").on("click", (e) => {
            $.post("/Question/Create", (data) => {
                $("#question-form-list").append(data)
            });
        });
    });
</script>