@model List<QuestionViewModel>

@foreach (QuestionViewModel questionForm in Model)
{
    <vc:question-form question-view-model="@questionForm" />
}

    <div class="question-list-vc">
        <button id="add-question" class="btn btn-info" type="submit">Ajouter</button>
    </div>
