@model List<QuestionViewModel>

<di class="question-list-vc">
    <div id="question-form-list">
        @foreach (QuestionViewModel questionForm in Model)
        {
            <vc:question-form question-view-model="@questionForm" />
        }
    </div>
    <div id="create-question"><i class="fa-solid fa-plus"></i></div>
</div>