@model List<FieldViewModel>

<div class="field-full-list-vc">
    @foreach (FieldViewModel fieldViewModel in Model)
    {
        <vc:field-full field-view-model="fieldViewModel" question-view-model="ViewBag.QuestionViewModel"/>
    }
</div>
