@model FormViewModel

<div class="form-row-vc">
    <div class="title-col"><p>@Model.Title</p></div>
    <div class="date-col">
        @if (@Model.UpdatedAt == null)
        {
            <p>@Model.UpdatedAt</p>
        }
        <p>@Model.CreatedAt</p>
    </div>
    <div class="status-col">
        @if (Model.CreatedAt == null)
        {
            <p>Brouillon</p>
        }
        @if (Model.CreatedAt != null & Model.ClosedAt == null)
        {
            <p>Publié</p>
        }
        @if (Model.ClosedAt != null)
        {
            <p>Cloturé</p>
        }
    </div>
    <div class="actions-col">
        <button>Voir</button>
        <button>Editer</button>
        <button>Dupliquer</button>
    </div>
</div>
