﻿.form-row-vc {
    display: grid;
    grid-template-columns: 6fr 2.5fr 2fr 2fr;
    gap: 5px;
    align-items: center;
}

.title-content {
    text-align: start;
}

.date-content, .status-content {
    text-align: start;
}

span.icon {
    background-color: #EEF4F6;
    margin-left: .5rem;
    border-radius: 30%;
    text-align: end;
    padding: .2rem;
}

span > img {
    max-width: none;
    box-sizing: border-box;
}
