@model QuestionViewModel

<div class="question-full-vc">
    <div class="question-label">@Model.Label</div>
    <vc:field-full-list field-view-models="Model.FieldViewModels" question-view-model="Model"/>
</div>
