<vc:form-full form-view-model='new FormViewModel(){ Id = 1, Title="Titre1", Description="Description 1", CreatedAt=DateTime.Now, PublishedAt=DateTime.Now, UpdatedAt=DateTime.Now, ClosedAt=DateTime.Now }' role="User" />

***************** FormRow Affichage *****************
<vc:form-row form-view-model='new FormViewModel(){ Id = 1, Title = "Titre 1", Description = "Description 1", CreatedAt = DateTime.Parse("01/01/2024"), PublishedAt = DateTime.Parse("01/01/2024")}' />
<vc:form-row form-view-model='new FormViewModel(){ Id = 2, Title = "Titre 2", Description = "Description 2", CreatedAt = DateTime.Parse("01/01/2024"), PublishedAt = DateTime.Parse("08/01/2024"), UpdatedAt = DateTime.Parse("08/01/2024"), ClosedAt = DateTime.Parse("25/01/2024")}' />
<vc:form-row form-view-model='new FormViewModel(){ Id = 3, Title = "Titre 3", Description = "Description 3", CreatedAt = DateTime.Parse("01/01/2024")}' />

***************** FormTable Affichage *****************
﻿@{
    var forms = new List<FormViewModel>
    {
        new FormViewModel { Id = 1, Title = "Titre 1", Description = "Description 1", CreatedAt = DateTime.Parse("01/01/2024"), PublishedAt = DateTime.Parse("01/01/2024")},
        new FormViewModel { Id = 2, Title = "Titre 2", Description = "Description 2", CreatedAt = DateTime.Parse("01/01/2024"), PublishedAt = DateTime.Parse("08/01/2024"), UpdatedAt = DateTime.Parse("08/01/2024"), ClosedAt = DateTime.Parse("25/01/2024")},
        new FormViewModel { Id = 3, Title = "Titre 3", Description = "Description 3", CreatedAt = DateTime.Parse("01/01/2024")},
        new FormViewModel { Id = 4, Title = "Titre 4", Description = "Description 4", CreatedAt = DateTime.Parse("02/01/2024"), UpdatedAt = DateTime.Parse("08/01/2024"), PublishedAt = DateTime.Parse("08/01/2024")},
    };
}

<div class="form-table-vc">
    <table>
        <thead class="grid-container">
            <tr>
                <th class="title-col">Titre</th>
                <th class="date-col">Date de Dernière Modification</th>
                <th class="status-col">Statut</th>
                <th class="actions-col">Actions</th>
            </tr>
        </thead>
    </table>
    <table>
        @foreach (FormViewModel form in forms)
        {
            <vc:form-row form-view-model="form" />
        }
    </table>
</div>