@model FieldViewModel;
<p class="field-vc">
    @*Display input type*@
    @if (ViewBag.MockInputType == "textarea")
    {
        <textarea id="option-@Model.Id"></textarea>
    }
    else
    {
        <input id="option-@Model.Id" type="@ViewBag.MockInputType" />
    }

    @*Display label if exist*@
    @if (ViewBag.MockInputType != "text" || ViewBag.MockInputType != "textarea")
    {
        <label for="option-@Model.Id">@Model.Label</label>
    }
</p>
