@model List<FormViewModel>

<div class="form-short-list-vc" style="overflow: hidden;">
    <div class="carousel" id="formCarousel" style="padding:20px">
        <button class="prevBtn">Précédent</button>
        <div class="carousel-slides" style="display: flex; gap:10px; flex-wrap: nowrap; align-items:stretch;">
            @foreach (var form in Model)
            {
                <div class="carousel-slide" style="flex: 0 0 auto; width: calc(100% / var(--slides-visible));">
                    <vc:form-short form-view-model="@form" />
                </div>
            }
        </div>
        <button class="nextBtn">Suivant</button>
    </div>
</div>