@model List<FormViewModel>
<h1>TABLEAU DE BORD</h1>
<div class="dashboard-header">
    <form asp-controller="Admin" asp-action="Search" class="search">
        <input id="dashboard-search" placeholder="Recherchez vos formulaires" name="title"/>
        <button role="button">Rechercher</button>
    </form>
    <form asp-controller="Form" asp-action="Create" class="create">
        <input type="submit" value="Nouveau formulaire" />
    </form>
</div>

<vc:form-table form-view-models="Model" />