@model List<FormViewModel>
<h1>TABLEAU DE BORD</h1>
<form asp-controller="Form" asp-action="Create">
    <button role="button">Nouveau formulaire</button>
</form>
<vc:form-table form-view-models="Model" />