:root {
    --accent-color-dark: #00688D;
    --accent-color-light: #003D53;
    --slides-visible: 3;

    --delete-color: rgb(255, 76, 76);
    --background-section-dark: #0f2e38;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

h1 {
    font-family: 'Rubik Mono One', monospace;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

h1.form-view {
    margin-bottom: 1rem;
}


input[type=text] {
    background-color: #003D53;
}

option:hover {
    background-color: var(--accent-color);
}

/*header*/
header {
    padding: 0;
    margin-bottom: 3rem;
}

.quikform {
    font-family: 'Rubik Mono One', monospace;
}

.home-logo {
    display: flex;
    align-items: center;
}

.logo-file {
    height: 2.5rem;
}

.quikform-home-link {
    font-size: 2rem;
}

header, footer {
    padding: 3rem 0;
    margin: 0;
}

/*main*/
main {
    margin: 3rem 0;
}

button {
    font-weight: bold;
    width: auto;
}

input[type="text"], textarea, select {
    border: solid 2px var(--accent-color);
}

/*footer*/
footer img {
    margin-bottom: 2rem;
}

footer div.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 20%;
}

/*Carousel*/
.carousel-slider {
    margin-right: 10px;
    margin-left:10px;
}

@media (min-width: 320px) {
    :root {
        --slides-visible: 1;
    }
}

@media (min-width: 993px) {
    :root {
        --slides-visible: 2;
    }
}

@media (min-width: 1200px) {
    :root {
        --slides-visible: 3;
    }
}

/*dark mode*/
@media (prefers-color-scheme: dark) {
    html {
        background-color: #0F2E38;
    }

    header, footer {
        background-color: #003D53;
    }
}

/*light mode*/
@media (prefers-color-scheme: light) {
    html {
        background-color: #FFFFFF;
    }

    header, footer {
        background-color: #92B8C5;

    }
}
