@model List<FormViewModel>

<section class="form-table-vc">
    <div class="grid-container">
        <div class="title-col">Titre</div>
        <div class="date-col">Dernière modification</div>
        <div class="status-col">Statut</div>
        <div class="actions-col">Actions</div>
    </div>
    @foreach (FormViewModel form in Model)
    {
        @* change color of row if even/odd  *@
        int key = Model.IndexOf(form);
        @if (key % 2 != 0)
        {
            <div style="background-color:#0C495D;">
                <vc:form-row form-view-model="form" class="form-row-vc" />
            </div>
        }
        else
        {
            <vc:form-row form-view-model="form" class="form-row-vc" />
        }
    }
</section>