@model List<FormViewModel>

<section class="form-table-vc">
    <div class="grid-container">
        <div class="title-col">Titre</div>
        <div class="date-col">Dernière modification</div>
        <div class="status-col">Statut</div>
        <div class="actions-col">Actions</div>
    </div>
    @foreach (FormViewModel form in Model)
    {
        <vc:form-row form-view-model="form" class="form-row-vc"/>
    }
</section>