/*form table﻿*/
.grid-container {
    display: grid;
    grid-template-columns: 6fr 2.5fr 1.5fr 1.5fr;
    gap: 5px;
    align-items: center;
}

    .grid-container div {
        font-size: 1.4rem;
        padding: 1rem 0;
    }

.form-table-vc :first-child {
    background-color: #003D53;
}

@media(prefers-color-scheme: light) {
    .form-table-vc :first-child {
        color: #E7F9FF;
    }
}

.title-col {
    text-align: start;
}

.actions-col {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
