@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bienvenue sur</h2>
    <p class="quikform">QUIKFORM</p>
    <p>Votre formulaire à portée de main </p>
</div>
