@model FormListsViewModel


<section class="grid">
    <div class="text-center">
        <h2 class="">Bienvenue sur</h2>
        <p class="quikform">
            <img src="/images/file-logo.svg" class="logo-file" />
            <span class="quikform-home-link">QuikForm</span>
        </p>
        <p>Votre formulaire à portée de main </p>
    </div>
    <div></div>
</section>

<vc:form-short-list form-view-models="Model.FormsPublishedAtViewModel" />

<vc:form-short-list form-view-models="Model.FormsClosedAtViewModel" />