@model FormViewModel

<form asp-controller="Home" asp-action="Submit">
    <vc:form-full form-view-model="Model" />
    <section class="user-validation">
        <div class="action">
            <button class="primary">Envoyer</button>
        </div>
    </section>
</form>