@model FormViewModel
<section class="form-form-vc">
    <form asp-controller="" asp-action="">
        <label>
            Titre
            <input asp-for="Title" placeholder="Entrez votre titre"/>
        </label>
        <label>
            Description
            <textarea asp-for="Description" placeholder="Entrez votre description"></textarea>
        </label>
        <hr/>
        <vc:question-form-list question-view-models="Model.QuestionViewModels"/>
    </form>
</section>