@model QuestionViewModel

<div class="question-form-vc">
    <form>
        <div class="question-label">
            <input asp-for="Label" type="text" placeholder="Entrez votre question" />
            <select name="question-type" id="question-type-select">
                @foreach (string inputType in ViewBag.InputTypes)
                {
                    <option class="" value="@inputType">@inputType</option>
                }
                @* @foreach (InputTypeViewModel inputTypeViewModel in ViewBag.InputTypes)
                {
                    <option value="@inputTypeViewModel.Name">@inputTypeViewModel.Name</option>
                } *@
            </select>
         <vc:field-form-list field-view-models="Model.FieldViewModels" question-id="Model.Id"/>
        </div>
        <div class="mandatory-trash">
            <div>
                <label for="switch">
                    Obligatoire
                    <input type="checkbox" id="switch" name="switch" role="switch" />
                </label>
            </div>
            <div class="trash"><i class="fa-regular fa-trash-can"></i></div>
        </div>
    </form>
</div>
